#Formulario {  
    
margin-top: 50px;
border-radius: 50%s;
border-color: black;
border-style: double;
}

#post{

    
    margin-top: 50px;
    border-radius: 50%s;
    border-color: black;
    border-style: double;

}