body{
    background-color:rgba(1, 15, 33, 0.825) ;
    color: white;
    filter: brightness(120%);

}


#Enunciado {
    font-family: Georgia, 'Times New Roman', Times, serif;



}

#aviso{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#imagem {
    height: 200px;
    width: 400px;

}

